.idea/
__pycache__/
*/.idea/
*/__pycache__/



data/auto_feature_extraction_data/data_extracted/*.csv
data/auto_feature_extraction_data/data_selected/*.csv


data/data_scalograms/train_triple/*.npy
data/data_scalograms/test_triple/*.npy
data/data_scalograms/test/*.npy
data/data_scalograms/train/*.npy


data/data_scalograms/train_triple/*.mat
data/data_scalograms/test_triple/*.mat

data/data_scalograms/test/*.mat
data/data_scalograms/train/*.mat


data/wavelet_scattering/train_WTS_labels.mat
data/wavelet_scattering/train_WTS_features.mat
data/wavelet_scattering/test_WTS_labels.mat
data/wavelet_scattering/test_WTS_features.mat
/draft.py
